<a href="{{ admin.generateObjectUrl('clean_from_cross_subscription', object) }}" class="btn btn-sm btn-warning" title="Deregister from Cross-subscription service">
    <i class="fa fa-user-times" aria-hidden="true"></i>
    Deregister from Cross-subscription service
</a>
