<a href="{{ admin.generateObjectUrl('drop_user_data', object) }}" class="btn btn-sm btn-warning delete_link" title="Drop user">
    <i class="fa fa-user-times" aria-hidden="true"></i>
    Drop user data from DB
</a>