<a href="{{ admin.generateObjectUrl('drop_from_billing', object) }}" class="btn btn-sm btn-warning"
   title="Delete from Billing">
    <i class="fa fa-user-times" aria-hidden="true"></i>
    Delete from Billing
</a>
