{% macro render() %}
    {% import "@App/Components/Blocks/Main/icons_channels.html.twig" as  icons_channels %}

    <div class="align-items-center justify-content-center row mx-4">
        {{ icons_channels.render() }}
    </div>
{% endmacro %}