<a class="sonata-action-element" href="{{ admin.generateUrl('preUpload') }}">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}</a>
