
.category-select-description {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    padding-left: 3px;
}

.related-videos-block .video-preview-image-container {
    position: relative;
    width: 35%;
}

.related-videos-block .video-preview-image-container > img {
    width: 100%;
}

.active-category-container .video-preview-image-container > img {
    width: 100%;
}

.related-videos-section-container {
    padding: 3px;
}

.subcategory-title.active > a,
.category-title.active > a {
    color: #ff232b;
}

.category-block {
    margin-bottom: 15px;
}

.subcategory-title > a,
.category-title > a {
    cursor: pointer;
    color: #212529;
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    line-height: 25px;
    padding-left: 3px;
    text-decoration: none;
}

.related-videos-block {
    padding: 8px;
}

.related-videos-block .related-video {
    margin-bottom: 6px;
}

.related-videos-block .related-video .video-preview-title {
    background-color: #eaeaea;
    width: 65%;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding: 8px;
    font-size: 15px;
    line-height: 15px;
}

.category-block.expanded .category_header__arrow{

    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

}

.category_header__arrow {
    background-image: url(../img/home/arrow-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-left: auto;
    height: 21px;
    width: 35px;
}

.category-content-open-link {
    padding-right: 8px;
    padding-bottom: 2px;
}

.category__related_title {
    font-size: 17px;
    text-transform: none;
}

.category__related_title-container {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.video-player-title {
    font-size: 21px;
    font-weight: 500;
    margin-top: 5px;
    line-height: 21px;
}

.menu-block {
    padding: 3px;
}

.default-video-thumbnail-wrapper {
    position: relative;
}

.default-video-thumbnail-wrapper .video-play-icon {
    height: 50px;
    width: 50px;
}

.default-video-thumbnail-wrapper .video-preview-title {
    display: none !important;
}