.faq-accordion_card {
    border: none !important;
    padding-left: 25px;
    padding-right: 35px;

}

.faq-accordion_card_header {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.faq-accordion_card_header_button {
    width: 33px;
    height: 33px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.faq-accordion_card_header_button[aria-expanded="false"] {
    background-image: url(/img/pages/faq/plus-button.png);
}

.faq-accordion_card_header_button[aria-expanded="true"] {
    background-image: url(/img/pages/faq/minus-button.png);
}

.faq-accordion_card_header_title {
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.faq-accordion_card_body {
    background-color: #f2f2f2;
    border-bottom: 5px solid #c5c3c3;
    font-size: 13px;
    margin-bottom: 30px;
    margin-left: 31px;
}

.faq-accordion_card__delimiter {
    background-image: url(/img/pages/faq/faq_delimiter_line.png);
    height: 5px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 31px;
}