.game-wrapper {
    padding: 0;
    margin-bottom: 8px;
    max-width: 47vw;
}
.game-wrapper:nth-child(odd) .game {
    /*margin-right: 10px;*/
}
.game {
    background-color: #ebebeb;
    /*margin-bottom: 8px;*/
    border-bottom: 2px solid silver;
    /*height: 100%;*/
    position: static;
}
.game-link {
    flex-grow: 1;
}
.game-img{
    flex-grow: 1;
}

.game-info-block {
    padding: 8px;
}

.game-title-block {
    /*text-transform: uppercase;*/
    min-height: 60px;
}

.game-download-button {
    text-transform: uppercase;
    font-weight: 600;
}

.games-page-container {
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.load-more-button {
    text-transform: uppercase;
    font-weight: 600;
}

.load-more-button:disabled {
    background-color: grey;
}
.game-download-button:disabled {
    background-color: grey;
}

.x-load-more-button,
.x-game-download-button {
    cursor: pointer;
}

.x-game-download-button:disabled,
.x-load-more-button:disabled {
    cursor: not-allowed;
}

.game-similars .game {
    background: none;
    border: none;
}
.game-similars .game-wrapper {
    margin-right: 10px;
}
.screenshot-img {
    margin-right: 10px;
}