
.sidebar-nav {
    width: 275px;
    position: fixed;
    top: 0px;
    z-index: 90;
    left: -275px;
    transition: all 0.5s ease;
    height: 100%;
    overflow: scroll;

    font-weight: 500;
    font-style: italic;
}

.activeSidebar {
    left: 0px;
    z-index: 9999;
}


.sidebar-nav_header {
    height: 60px;
    background-color: #ce1e25;
    padding-top: 15px;
    padding-left: 20px;
    position: relative;
}

.sidebar-nav_close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(/img/close_icon.png) no-repeat center;
    background-size: contain;
}

.sidebar-nav_search {
    margin-right: 3px;
}

.sidebar-nav_search_input {
    border-radius: 10px;
    border: 3px solid white;
    background-color: #ffbe56;
}

/*.nav-search {*/
/*color: #fff;*/
/*width: 255px;*/
/*height: 40px;*/
/*box-sizing: border-box;*/
/*border: 1px solid #374b5f;*/
/*border-radius: 3px;*/
/*margin: 0 auto;*/
/*display: block;*/
/*background: url(/images/search-icon.png) no-repeat  10px #293847;*/
/*padding-left: 35px;*/
/*}*/
.sidebar-nav_search_input:focus {
    outline: none;
    color: #fff;
}

.sidebar-nav_search_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white
}

.sidebar-nav_search_input::-moz-placeholder { /* Firefox 19+ */
    color: white;
}

.sidebar-nav_search_input:-ms-input-placeholder { /* IE 10+ */
    color: white
}

.sidebar-nav_search_input:-moz-placeholder { /* Firefox 18- */
    color: white
}

.nav-item {
    font-weight: 800;
    font-style: italic;
    background-color: #ff232b;
    border-bottom: 1px solid #ce1e25;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    min-height: 32px;
}

.nav-item_link {
    height: 100%;
    vertical-align: middle;
    color: white;
}

.nav-item_subitem {
    color: white;
    font-weight: normal;
    font-size: 14px;
    padding-left: 8px;
}
a.nav-item_subitem:hover{
    color: white;
}

.nav-item.pages-link {
    border-bottom: 2px solid white;
    font-weight: normal;

}

.subnav-item .nav-item_link {
    padding-left: 25px;
}

.nav-item:hover {
    background-color: #e7773c;
    background-image: linear-gradient(to right, #e74c3c 0%, #e7773c 100%);
    background-image: -moz-linear-gradient(to right, #e74c3c 0%, #e7773c 100%);
    background-image: -webkit-gradient(to right, #e74c3c 0%, #e7773c 100%);
    background-image: -webkit-linear-gradient(to right, #e74c3c 0%, #e7773c 100%);
    background-image: -ms-linear-gradient(to right, #e74c3c 0%, #e7773c 100%);
    border: 0px;
}

.nav-item:hover .nav-item_link {
    color: #fff;
}

.nav-item .expand-button {
    margin-left: auto;
    color: white;
}

.nav-item .expand-button.active .open-icon {
    display: none;
}

.nav-item .expand-button:not(.active) .close-icon {
    display: none;
}


.x-expand-button {
    cursor: pointer;
}


