#player-modal {
    z-index: 2;
}
.player-modal-wrapper{

    position: fixed;
    width:  100%;
    height: 100%;
    margin-left:  auto;
    margin-right:  auto;
    max-width:  1080px;
    top: 0;

}

.player-modal {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.player-modal-content {
    background-color: black;
    padding: 12px;
    height: 100%;
    width: 100%;
    color: white;
    max-height: calc(100vh - 56px);
}


.x-play-button, .x-close-modal-button, .x-modal-play-button {
    cursor: pointer;
}

.close-modal-button-container {
    margin-bottom: 2px;
}

.close-modal-button-text {
    float: right;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-right: 4px;
}

.close-modal-button {
    float: right;
    width: 25px;
    height: 25px;
    background-image: url(../img/close_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.modal-related-video.currently-playing {
    border: 1px solid #ce1e25;
}


.modal-related-video .modal-related-video-title {
    padding-left: 6px;
    font-weight: 500;
    font-size: 14px;
}

.modal-related-videos-block {
    overflow-y: scroll;
}

.modal-related-video-thumbnail-wrapper {
    position: relative;
}

.modal-related-video-section-title-block {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-related-video-section-title-text {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;

    font-style: italic;
    font-size: 17px;
    width: 60%;
}