.slider-big {

}
.slider-big .video-element{

}
.slider-big .video-element img{
    width: 100%;
}

.slider-big .slick-track {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.slider-big .slick-initialized .slick-slide {
    display: flex;
}

.slider-big .slick-slide {
    float: none;
    height: auto !important;
    min-height: 1px;
    width: 70vw;
    max-width: 770px;
    margin-right: 20px;
}
.slider-big .slick-slide > div {
    position: static;
}