.slider-big {

}
.slider-big .video-element{

}
.slider-big .video-element img{
    width: 100%;
}

.slider-big .slick-track {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;

    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.slider-big .slick-initialized .slick-slide {
    display: flex;
}

.slider-big .slick-slide {
    float: none;

    /*max-height: 16vh;*/
    height: 100%;
    min-height: 1px;

    /*flex-grow: 1;*/
    width: 70vw;
    max-width: 770px;


    margin-right: 20px;
}
.slider-big .slick-slide > div {
    flex-grow: 1;
}