.terms_and_conditions_container {
    padding: 30px;
    font-family: 'Kanit-Regular', sans-serif;
}

.terms_and_conditions_disclaimer, .terms_and_conditions_container h1, h2 {
    font-size: 22px;
}

.terms_and_conditions_container h1 {
    padding-top: 30px;
}

.terms_and_conditions_container h1 + p, .terms_and_conditions_container h2 + p {
    padding-top: 30px;
}

.terms_and_conditions_container p {
    font-size: 20px;
}

.terms_and_conditions__header-title_content .terms-and-conditions-link{
    color: #212529;
}
