* {
    font-family: 'Kanit', sans-serif;
}

.sf-toolbar * {
    font-family: sans-serif;
}

body {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

a button {
    border: none;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    cursor: pointer;
    background: none;
    white-space: nowrap;
    /*margin: 0;*/
    /*padding: 0;*/
    width: 100%;
    height: 100%;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
}

.m-55 {
    margin: 0 55px;
}

.mh-20 {
    margin: 20px 0;
}

.mh-7 {
    margin: 7px 0;
}


.mt-10 {
    margin-top: 20px;
}


.my-4-5 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.max-vw-100 {
    max-width: 100vw !important;
}

.max-vw-75 {
    max-width: 75vw !important;
}

.max-vw-50 {
    max-width: 50vw !important;
}

.max-vw-25 {
    max-width: 25vw !important;
}

.red {
    color: #ff0000;
}

.bg-gray {
    background-color: #190000 !important;
    background-image: none !important;
}

.pseudo_link {
    cursor: pointer;
}

.footer-menu_link {
    color: #ff0000;
    padding: 1vw 5vw;
    margin: 0 2vw;
    border: 1px #ff3333 solid;
}

.footer-menu_link * {
    color: #ff0000;
}

/*******************************************/
.h1 {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.h2 {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.btn_wrapper {

}


/*******************************************/
.header-menu_icon {
    background-image: url(/img/header/menu_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 34px;
    height: 22px;
    margin-left: 10px;
}

.header-logo {
    background-image: url(/img/header/logo_sport.png);
    width: 140px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.header-user_icon {
    background-image: url(/img/header/user_icon.png);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-container {
    background-color: #f2f2f2;
    border-bottom: 2px solid #c5c3c3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-title_container {
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-title_content {
    font-weight: 800;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

.header-page-subscription_container {
    background-color: #ff232b;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-page-subscription_text {
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.header-page-subscription_text small {
    line-height: 1.4;
    display: inline-block;
}

.button {
    background-image: linear-gradient(#ff0000, #ca2529, #8a070a);
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.43);
    border: 0;
    cursor: pointer;
    border-radius: 48px;
    padding: 5px 30px;
    border-bottom: 1px solid #f96d6d;
    outline: none;
}

*:focus {
    outline: none !important;
}

.button:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.button-small,
.button:active {
    background-color: #a90000;
}

.button-small {
    padding: 6px 16px;
    border: 0;
    background-color: #ec0000;
    color: #FFFFFF;
    font-size: small;
}

.button-gray {
    padding: 6px 16px;
    border: 0;
    background-color: #190000;
    color: #FFFFFF;
}

.button-confirm {

}

.button-confirm__no {
    padding: 0;
    width: 40%;
}

.button-confirm__yes {
    padding: 0;
    width: 40%;
}


.see-all-box:hover {
    text-decoration: none;
}

.categories-see-all-icon {
    float: right;
    background: url(../img/home/plus-button.png) left center no-repeat;

    margin-left: 3px;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.slider-block,
.categories-block {
    margin-bottom: 15px;
}

.categories-see-all-button,
.slider-see-all-button {
    color: #d40407;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}

.categories-block-title {
    font-weight: 800;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}

.categories-block-title-underline {
    background: url(../img/home/separator-left.png) left center no-repeat;
    height: 3px;
    width: 50%;
    background-size: contain;
    margin-bottom: 15px;

}

.video-element-title {
    padding: 8px;
}

.video-element {
    background-color: #ebebeb;
    margin-bottom: 8px;
    width: 49%;
    border-bottom: 2px solid silver;
}

.homepage-container {
    width: 100%;
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
}

.video-play-icon {
    position: absolute;
    background-image: url(../img/play-icon-big.png);
    height: 30px;
    width: 30px;
    bottom: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.category__related__box-play {
    position: absolute;
    background-image: url(../img/play-icon-big.png);
    height: 30px;
    width: 30px;
    bottom: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.video-element .video-preview-image-container {
    position: relative !important;
}

.categories-content .video-element img {
    width: 100%;
}

.separator_right {
    background: url(../img/home/separator-right.png) right center no-repeat;
    height: 10px;
    width: 20%;
    margin-right: auto;
    background-size: contain;
}

.separator_left {
    background: url(../img/home/separator-left.png) left center no-repeat;
    height: 10px;
    width: 20%;
    margin-left: auto;
    background-size: contain;

}

.listed-games-block {
    width: 100%;
    margin-bottom: 4px;
}

.listed-game {
    margin-bottom: 3px;
    border-bottom: 2px solid #c5c3c3;

}

.listed-game-image {
    width: 66%;
    cursor: pointer;
}

.listed-game-title {
    font-weight: 500;
    color: #212529;
}

.listed-game-text {
    background-color: #ebebeb;
    padding: 8px;
    width: 34%;
    text-underline: none;
}

.listed-game-image img {
    width: 100%;
}

body {
    overflow-x: hidden;
}

.separator-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 26px;
    font-style: italic;
    position: relative;
    text-align: center;
}

.separator-title .before {
    content: url("/img/separator.png");
    max-width: 25%;
}

.separator-title .after {
    content: url("/img/separator-rotate.png");
    /*transform: rotate(180deg);*/
    max-width: 25%;
}

.after-games-separator {
    background: url(../img/home/separator-left.png) left center no-repeat;
    height: 8px;
    width: 50%;
    background-size: contain;
    margin-bottom: 15px;
}

.copyright {
    text-align: center;
}

.footer_menu_separator {
    margin-bottom: 15px;
}

.footer_menu_separator .separator_right {
    margin-right: 0;
    margin-left: auto;
}

.footer_menu_separator .separator_left {
    margin-left: 0;
}

/* Right direction settings for arabic language*/

.right-text-direction {
    direction: RTL;
}

.right-text-direction div {
    direction: RTL;
}

.right-text-direction li {
    text-align: right;
}

.right-text-direction .slick-slider {
    direction: LTR;
}

.right-text-direction .slick-slider div {
    direction: LTR;
}

.right-text-direction .header-container {
    direction: LTR;
}

.right-text-direction .sidebar-nav_header {
    direction: LTR;
}

.right-text-direction .navbar-list {
    direction: LTR;
}

.right-text-direction .footer-menu_link {
    padding: 3px;
    margin: 0 3px;
}

#_loader {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;

    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

#_loader__fill {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #0f0f0f;
    opacity: 0.5;
    z-index: 1;
}

#_loader__roll {
    background: url("/img/loader.png") no-repeat center;
    width: 25vw;
    height: 25vw;

    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    z-index: 2;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.select, .input {
    background-image: linear-gradient(white, #bbbbbb);
    box-shadow: 0px 9px 10px -5px black;
    padding: 0 5px;
}