* {
    font-family: 'Kanit', sans-serif;
}

.sf-toolbar * {
    font-family: sans-serif;
}

body {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.m-55 {
    margin: 0 55px;
}

.mh-90 {
    margin: 90px 0;
}

.header-lp {
    background: radial-gradient(circle at center, #636363, #000000);
    background: radial-gradient(27% 80% at center, #636363, #000000);
    height: 165px;
    border-bottom: 1px #b71114 solid;
}

.header-lp_logo {
    border-radius: 40px;
}

.lure_box_wrapper {
    width: 100%;
}

.lure_box {
    background-color: #de0000;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.43);
    color: #FFFFFF;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.lure_box .lure_item {
    width: 300px;
}

.lure_box .lure_box_title {
    font-size: 22px;
}


.ico_channel {
    /*max-width: 170px;*/
    /*max-height: 170px;*/
    /*flex: 0 0 0%;*/
}

/*******************************************/
.h1-lp {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.btn_wrapper {

}

.btn-lp_big {
    transform: translateY(-50%);
}

/*******************************************/
.header-menu_icon {
    background-image: url(/img/header/menu_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 34px;
    height: 22px;
    margin-left: 10px;
}

.header-logo {
    background-image: url(/img/header/logo_sport.png);
    width: 140px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-user_icon {
    background-image: url(/img/header/user_icon.png);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-container {
    background-color: #f2f2f2;
    border-bottom: 2px solid #c5c3c3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-title_container {
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-title_content {
    font-weight: 800;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

.header-page-subscription_container {
    background-color: #ff232b;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-page-subscription_text {
    font-family: 'Kanit-MediumItalic', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.button {
    background-color: #ec0000;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.43);
    border: 0;
    cursor: pointer;
    padding: 8px;
}

.button:active {
    background-color: #a90000;

}

.category-title.active {
    color: #d40407;
}

.category-block {
    margin-bottom: 15px;
}

.subcategory-title,
.category-title {
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    line-height: 25px;
    text-transform: uppercase;
    padding-left: 3px;
    border-bottom: 1px solid #c5c5c5;
}

.show-video-modal .modal {
    padding-right: 0;


}

.show-video-modal .modal-dialog {
    padding-right: 0 !important;
    margin: 0;
    height: 100%;
    color: white;


}

.show-video-modal .modal-content {
    background-color: #222222;
    padding: 12px;
    border-radius: 0;
    height: 100%;
    width: 100%;
}

.show-video-modal .modal-body {

    padding: 1px;

}


.related-videos-block {

    padding: 3px;
}

.related-videos-block .related-video {

}

.related-videos-block .related-video .related-video-title {
    background-color: #eaeaea;
    width: 50%;
    font-weight: 600;
}

.modal-related-video.currently-playing {
    border: 1px solid #F36A0E;
}


.modal-related-video .modal-related-video-title {
    padding-left: 3px;
}


.category_header__arrow {
    background-image: url(../img/home/arrow-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 100%;
    margin-left: auto;

    display: none;

}

.category-content-open-link {
    padding-right: 8px;
    padding-bottom: 2px;
}

.category__related_title {
    text-align: center;
    width: 60%;
}

.separator_left {
    background: url(../img/home/separator-left.png) left center no-repeat;
    height: 10px;
    width: 20%;
    margin-left: auto;
    background-size: contain;

}

.separator_right {
    background: url(../img/home/separator-right.png) right center no-repeat;
    height: 10px;
    width: 20%;
    margin-right: auto;
    background-size: contain;
}

.category__related_title-container {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.video-player-title {
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    line-height: 25px;
}

.related-video-thumbnail-wrapper {
    position: relative;
    width: 50%;
}

.related-video-thumbnail-wrapper > img {
    width: 100%;
}

.related-videos-section-container {
    padding: 3px;
}

.category__related__box-play {
    position: absolute;
    background-image: url(../img/play-icon-big.png);
    height: 30px;
    width: 30px;
    bottom: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.category-select-description {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    padding-left: 3px;
}

.x-play-button, .x-close-modal-button, .x-modal-play-button {
    cursor: pointer;
}

.close-modal-button-container{
    margin-bottom: 2px;
}
.close-modal-button-text{
    float: right;
    font-weight: bold;
    font-size: 22px;
}
.close-modal-button{
    float: right;
    width: 25px;
    height: 25px;
    background-image: url(../img/close_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
