* {
    font-family: 'Kanit', sans-serif;
}

.sf-toolbar * {
    font-family: sans-serif;
}

body {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.m-55 {
    margin: 0 55px;
}

.mh-90 {
    margin: 90px 0;
}

.header-lp {
    background: radial-gradient(circle at center, #636363, #000000);
    background: radial-gradient(27% 80% at center, #636363, #000000);
    height: 165px;
    border-bottom: 1px #b71114 solid;
}

.header-lp_logo {
    border-radius: 40px;
}

.lure_box_wrapper {
    width: 100%;
}

.lure_box {
    background-color: #de0000;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.43);
    color: #FFFFFF;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.lure_box .lure_item {
    width: 300px;
}

.lure_box .lure_box_title {
    font-size: 22px;
}


.ico_channel {
    /*max-width: 170px;*/
    /*max-height: 170px;*/
    /*flex: 0 0 0%;*/
}

/*******************************************/
.h1-lp {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.btn_wrapper {

}

.btn-lp_big {
    transform: translateY(-50%);
}

/*******************************************/
.header-menu_icon {
    background-image: url(/img/header/menu_icon.png);
    width: 68px;
    height: 47px;
    margin-left: 26px;
}

.header-logo {
    background-image: url(/img/header/logo_sport.png);
    width: 354px;
    height: 83px;
}

.header-user_icon {
    background-image: url(/img/header/user_icon.png);
    width: 79px;
    height: 79px;
    margin-right: 21px;
}

.header-container {
    background-color: #f2f2f2;
    border-bottom: 5px solid #c5c3c3;
    padding-top: 42px;
    padding-bottom: 40px;
}

.header-title_container {
    background-color: #f2f2f2;
    height: 160px;
}

.header-title_content {
    font-family: 'Kanit-ExtraBoldItalic', sans-serif;
    text-transform: uppercase;
    font-size: 50pt;
    line-height: 50pt;
}

.header-page-subscription_container {
    background-color: #ff232b;
    height: 160px;
}

.header-page-subscription_text {
    font-family: 'Kanit-MediumItalic', sans-serif;
    text-transform: uppercase;
    font-size: 34pt;
    color: white;
}

.button {
    background-color: #ec0000;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.43);
    border: 0;
    cursor: pointer;
    padding: 8px;
}

.button:active {
    background-color: #a90000;

}

.menu-block .menu-item {
    padding-left: 3px;
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    border-bottom: 1px solid grey;
}

.show-video-modal .modal{
    padding-right: 0;
}

.show-video-modal .modal-dialog{
    padding-right: 0;
    margin: 0;
}

.show-video-modal .modal-content {
    background-color: #222222;
    padding: 12px;
    border-radius: 0;
    height: 100%;
    width: 100%;
}

.show-video-modal .modal-body {

    padding: 1px;

}


.related-videos-block{

    padding: 3px;
}
.related-videos-block .related-video{

}

.related-videos-block .related-video .related-video-title{
    background-color: #eaeaea;
    width: 100%;
}

.modal-related-video{
    color: white;
}


.modal-related-video .modal-related-video-title{
    padding-left: 3px;
}
