<div class="form-group">
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" class="btn btn-primary" value="Generate report" style="margin-top: 10px;"/>
    {{ form_end(form) }}
</div>