commands:
  00_mkdir:
    command: "rm /home/ec2-user/xhprof -rf && mkdir /home/ec2-user/xhprof -p"
  01_install_xhprof:
    command: "cd /home/ec2-user/xhprof && git clone  https://github.com/tideways/php-xhprof-extension.git && cd php-xhprof-extension && phpize && ./configure && make install"
  02_enable_extension:
    command: "echo \"extension=tideways_xhprof.so\">/etc/php-7.2.d/xhprof.ini"
