files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_stop_httpd.sh":
    mode: "000644"
    owner: root
    group: root
    content: |
        etc/init.d/httpd stop

  "/opt/elasticbeanstalk/hooks/appdeploy/post/00_start_httpd.sh":
    mode: "000644"
    owner: root
    group: root
    content: |
        etc/init.d/httpd start
