{% if isCarrierDetected() %}
    <div class="d-flex align-items-center justify-content-center mh-7">
        <div class="d-flex align-items-center justify-content-center mb-3">
            <h2 class="h1">{{ translate('offer.landing')|raw }}</h2>
        </div>
    </div>
{% endif %}