{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block show %}

    {% set successfullySaved = app.session.flashBag.get('subscription_pack_save_success') %}
    {% if successfullySaved %}

        <div id="modal" class="modal fade" role="dialog">
            <div class="modal-dialog" style="margin-top: 30px">

                <!-- Modal content-->
                <div class="modal-content" style="margin-top: 200px">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Subscription pack has been successfully changed</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please ensure all related texts are correct.</p>
                        <button type="button" class="btn btn-info" data-dismiss="modal" id="modal-button-go">
                            Proceed to texts
                        </button>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block form %}
    {{ parent() }}

    <style>
        .select2-hidden-accessible {
            top: 50px !important;
        }
    </style>
    <script type="text/javascript">
        var uniqueId = "{{ admin.uniqId }}";

        $(document).ready(function () {

            var country = "#" + uniqueId + "_country";

            var carrierId = "#" + uniqueId + "_carrier";
            var carrierSelect = $(carrierId);

            $(document).on('change', country, function () {

                carrierSelect.val('').trigger('change');
                carrierSelect.empty()
                    .append("<option value selected>Please select carrier</option>");
                var carriers = JSON.parse($(this).find(':selected').attr('data'));
                for (billingCarrierId in carriers) {
                    var _carrier = carriers[billingCarrierId];
                    carrierSelect.append("<option value='" + _carrier.uuid + "'>" + _carrier.name + "</option>");
                }
            });

            carrierSelect.val().length === 0 && $(country).change();
        });
    </script>
{% endblock %}
