{% macro render(phoneNumber, inputType) %}
    {% if phoneNumber is not defined %}
        {% set inputType = 'text' %}
    {% endif %}
    <div class="">
        <input type="{{ inputType }}" name="mobile_number"
               placeholder="{% if isCarrierDetected() %}{{ getPhoneValidationOptions().placeholder }} {% endif %}"
               class="w-75 mb-3 input masked"
               minlength="6" maxlength="20"
               pattern="{% if isCarrierDetected() %}{{ getPhoneValidationOptions().pattern }}{% endif %}"
               value="{{ phoneNumber }}"
               title="Please enter the correct phone number with international calling code"
               required/>
    </div>
{% endmacro %}