{% macro render(opts) %}
    {% import '@App/Components/Buttons/button.html.twig' as button %}
    <div class="">
        <input type="text" name="mobile_number" placeholder="Type mobile number and receive PIN Code" class="w-75 mb-3 input" required/>
    </div>

    <div id="wifi_button">
        {{ button.renderSubmitButton('Send SMS', 'x-send-pin-button') }}
    </div>
{% endmacro %}