{% macro render() %}
    {% import '@App/Components/Buttons/button.html.twig' as button %}
    <div class="">
        <input type="text" name="pin_code" placeholder="{{ translate('wifi.form.input_pin') }}" class="w-75 mb-3 input" required />
    </div>

    <div id="wifi_button">
        {{ button.renderSubmitButton(translate('buttons.subscribe'), 'x-send-pin-button') }}
    </div>
{% endmacro %}