{% macro render() %}
    <div class="">
        <input type="text" name="pin_code"
               placeholder="{% if isCarrierDetected() %}{{ getPinValidationOptions().placeholder }} {% endif %}"
               pattern="{% if isCarrierDetected() %}{{ getPinValidationOptions().pattern }}{% endif %}"
               class="w-75 mb-3 input"
               required/>
    </div>
{% endmacro %}