{% extends '@WebProfiler/Profiler/layout.html.twig' %}


{% block toolbar %}


    {% set icon %}
        <span class="sf-toolbar-value" style="display: inline-block;">
            Actions
        </span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b><a href="/?f=1">Force ident</a></b>
            {#<span class="sf-toolbar-status "></span>#}
        </div>

        <div class="sf-toolbar-info-piece">
            <b><a href="{{ path('subscription.fake_subscribe') }}">Subscribe</a></b>
            {#<span class="sf-toolbar-status "></span>#}
        </div>

        <div class="sf-toolbar-info-piece">
            <b><a href="{{ path('subscription.fake_unsubscribe') }}">Unsubscribe</a></b>
            {#<span class="sf-toolbar-status "></span>#}
        </div>
    {% endset %}

    {% block head %}
        <style type="text/css">
            .sf-toolbar-status-slateblue {
                background-color: slateblue;
                color: #FFF;
            }
        </style>
    {% endblock head %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': false, 'status':'slateblue' }) }}
{% endblock %}
