{% extends '@App/base.html.twig' %}
{% import "@App/Common/Blocks/header.html.twig" as  header %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/bkus.css') }}" rel="stylesheet">

{% endblock %}

{% block header_content %}
    {{ header.render() }}
{% endblock header_content %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="disclaimer-text">
            {{ translate('messages.error.blacklisted', {'%contact-us-url%': url('contact_us')}) | raw }}
        </div>
    </div>
{% endblock %}