{% extends '@App/base.html.twig' %}
{% import importTemplate("Common/Blocks/header.html.twig") as  header %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/rsna.css') }}" rel="stylesheet">

{% endblock %}


{% block header_content %}
    {{ header.render() }}
{% endblock header_content %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="rsna-disclaimer-text">
            You can not subscribe to 100% Sport because you have already been unsubscribed.
            <br>
            If you want to subscribe anew, please <a class="contact-us-link red" href="{{ url('contact_us') }}">Contact Us</a>
        </div>
    </div>
{% endblock %}