<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pixelIdentification</title>
    <link rel="stylesheet" href="{{ asset('bundles/identification/css/showPixel.css') }}">
</head>
<body>
<script>
    let pixelUrl = '{{ pixelUrl | raw }}';
    console.log(pixelUrl);
    let urlParts = pixelUrl.split('?');
    console.log(urlParts);

    let parameters = urlParts.pop();
    console.log(parameters);

    let parametersParts = parameters.split('&');
    console.log(parametersParts);
    let headers = {};

    parametersParts.forEach(function (parameter) {
        let parameterParts = parameter.split('=');
        headers[parameterParts[0]] = parameterParts[1];
    });

    console.log(headers);

    $.ajax({
        url: 'http://www.dot-jo.biz/appgw/',
        type: 'GET',
        headers: headers
    });

    {% import "@Identification/Components/status_check_script.twig" as status_check_script %}
    {{ status_check_script.render(statusActionUrl, confirmUrl, successUrl, failureUrl, 5) }}
</script>

<img src="{{ asset('bundles/identification/img/ajax-loader.gif') }}" alt="">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>