{% extends '@App/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .header-logo {
            width: 80px !important;
            height: 18px !important;
            margin: 0 !important;
        }

        .text-bold {
            font-weight: bold !important;
        }

        .confirm-payment-button {
            background-color: #d4457a;
            font-size: 20px;
            padding: 15px 0;
            color: white;
            text-transform: uppercase !important;
            font-weight: bold;
            border: none;
            border-radius: 15px;
            width: 100%;
        }

        .payment-text {
            line-height: 15px;
            font-size: 14px;
        }

        #payment-confirm-form input {
            width: 20px;
            height: 20px;
        }
    </style>
{% endblock %}

{% block header %}
    <div class="d-flex flex-row justify-content-between mt-1">
        <div class="pl-2"><img src="{{ asset('img/carriers/tmobile-poland-dimoco/logo.png') }}" alt="logo"></div>
        <div class="text-bold">{{ translate('prepayment.header.title') }}</div>
        <div class="text-right mt-1"><span class="header-logo"></span></div>
    </div>
{% endblock header %}