<a href="{{ admin.generateObjectUrl('set_status_for_renew', object) }}" class="btn btn-sm btn-default" title="Set status for renew">
    <i class="fa fa-credit-card" aria-hidden="true"></i>
    Schedule for renew
</a>
