{% macro render(placeholder, btnClass, blockClass) %}
    {% import importTemplate("Components/Buttons/link.html.twig") as  link %}

    {% set btnClass %} {{ btnClass ~ ' x-subscribe-button' }} {% endset %}

    <div class="d-flex align-items-start justify-content-center mb-n-2 {{ blockClass }}">
        {% if not hasActiveSubscription() or not isNotFullyPaid() %}
            {{ link.render(url('prepayment'), translate(placeholder), btnClass) }}
        {% endif %}
    </div>

    <script type="text/javascript">
        $(document).on('click', '.x-subscribe-button', function (e) {
            $._loader(false);
        });
    </script>
{% endmacro %}