{% macro render(aVideos, categories) %}
    {% import '@App/Components/Blocks/Main/see_all.html.twig' as  see_all %}
    {% import '@App/Components/Blocks/Main/grid_element_video.html.twig' as  grid_element_video %}

    {% for category, videos in aVideos %}

        {% set categoryData = categories[category] %}
        <div class="categories-block d-flex flex-column">
            {{ see_all.render(category,  path('show_category',{'categoryUuid': categoryData.uuid})) }}

            <div class="categories-content d-flex flex-row"
                 style="flex-wrap: wrap;justify-content: space-between;">
                {% for video in videos | slice(0, 4) %}
                    {{ grid_element_video.render(video, category) }}
                {% endfor %}

            </div>
        </div>
    {% endfor %}
{% endmacro %}