{% macro render(page_title) %}

    {% import "@App/Components/Blocks/Header/header_main.html.twig" as  header_main %}
    {% import "@App/Components/Blocks/Header/navbar.html.twig" as  navbar %}
    {% import "@App/Components/Blocks/Header/page_heading.html.twig" as  page_heading %}

    {{ navbar.render() }}

    <div class="d-flex justify-content-center flex-column w-100">
        {{ header_main.render() }}

        {{ page_heading.render(page_title) }}
    </div>
{% endmacro render %}