{% macro render() %}

    {% import "@App/Components/Blocks/Header/page_heading.html.twig" as  page_heading %}


    <div class="d-flex justify-content-center flex-column w-100">
        <div class="d-flex align-items-center header-container">
            <a href="{{ path('index') }}" class="mx-auto">
                <div class="header-logo"></div>
            </a>
        </div>
    </div>
{% endmacro render %}