{% macro render(aVideos, categories) %}
    {% import '@App/Components/Blocks/Main/see_all.html.twig' as  see_all %}
    {% import "@App/Components/Blocks/Main/video_preview.html.twig" as  video_preview %}

    <div class="slider-block">
        {% for category, videos in aVideos %}

            {% set categoryData = categories[category] %}
            <div class="categories-block d-flex flex-column">

                {{ see_all.render("category.#{categoryData.uuid}",  path('show_category',{'categoryUuid': categoryData.uuid})) }}

                <div class="d-flex slider slider-big">
                    {% for video in videos %}
                        {{ video_preview.render('d-flex flex-column video-element x-play-button', video) }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        $(document).ready(function () {
            $('.slider').slick({
                variableWidth: true,
                rows: 0
            });
        });
    </script>
{% endmacro render %}