{% macro render(aVideos, categories) %}
    {% import '@App/Components/Blocks/Main/see_all.html.twig' as  see_all %}
    {% import '@App/Components/Blocks/Main/slider_element_video.html.twig' as  slider_element_video %}

    <div class="slider-block">
        {% for category, videos in aVideos %}

            {% set categoryData = categories[category] %}
            <div class="categories-block d-flex flex-column">

                {{ see_all.render(category,  path('show_category',{'categoryUuid': categoryData.uuid})) }}

                <div class="d-flex align-items-center justify-content-center slider slider-big">
                    {% for video in videos %}
                        {{ slider_element_video.render(video, category) }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>

    <script>
        $(document).ready(function () {
            $('.slider').slick({
                variableWidth: true
            });
        });
    </script>
{% endmacro render %}