<div class="row">
    <div class="col-xs-12">
        <h2>Comment</h2>
        <ol>
            <li>User email: {{ email }}</li>
            <li>Comment: {{ comment }}</li>
        </ol>
    </div>
</div>

