{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column w-100">
        <div class=" justify-content-center contact_us__disclaimer mt-4">
            <div class=" text-center">
                <p>Thanks for your interest on 100% sport! </p>
            </div>
        </div>
        <div class=" justify-content-center contact_us__disclaimer">
            <div class=" text-center">
                <p>We will contact you soon.</p>
            </div>
        </div>
    </div>
{% endblock %}