{% macro render(placeholder, btnClass, blockClass) %}
    {% import importTemplate("Components/Buttons/link.html.twig") as  link %}
    {% import importTemplate("Common/Blocks/wifi_subscribe_block.html.twig") as wifi_subscribe_block %}

    <div class="d-flex align-items-start justify-content-center  {{ blockClass }}">
        {% if not hasActiveSubscription() or not isNotFullyPaid() %}
            {#if we use this macro outside landing#}
            {% if app.request.get('_route') == 'landing'
                or app.request.get('_route') == 'select_carrier_wifi'
                or app.request.get('_route') == 'reset_wifi_lp' %}
                {{ wifi_subscribe_block.render() }}
            {% else %}
                {{ link.render(url('landing'), translate(placeholder)) }}
            {% endif %}
        {% else %}
            {{ link.render(url('subscription.subscribe'), translate(placeholder), btnClass) }}
        {% endif %}
    </div>
{% endmacro %}