{% macro render() %}
    {% import "@App/Components/subscribe_buttons.html.twig" as subscribe_buttons %}

    <div class="d-flex align-items-start justify-content-center mt-4 mb-n-2">
        {{ subscribe_buttons.render('buttons.join.now', 'btn-lp_big') }}
    </div>
{% endmacro %}