{% if jsEnabled() %}
<!-- Piwik -->
<script type="text/javascript">
    {% autoescape false %}
    (function (scope) {
        scope.piwikAsyncInit = function () {
            var tracker = scope.Piwik.getTracker('{{ getApiTrackerUrl() }}');

            {% if getEnableLinkTracking() %}
            tracker.enableLinkTracking();
            {% endif %}

            tracker.setCustomRequestProcessing(function (request) {
                var queryString = '{{ getQueryString() }}';

                var requestParams = parseQuery(request);
                var customParams = parseQuery(queryString);
                for (var name in customParams) {
                    if (customParams[name]) {
                        requestParams[name] = customParams[name];
                    }
                }

                return makeQuery(requestParams);
            });

            tracker.trackRequest('');

            function parseQuery(query) {
                var params = {};
                var vars = query.split('&');
                for (var i = 0; i < vars.length; i++) {
                    if (vars[i]) {
                        var pair = vars[i].split('=');
                        params[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
                    }
                }
                return params;
            }

            function makeQuery(params) {
                var query = [];
                for (var name in params) {
                    query.push(encodeURIComponent(name) + '=' + encodeURIComponent(params[name]));
                }
                return query.join('&');
            }
        };

        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = '{{ getApiJsUrl() }}';
        s.parentNode.insertBefore(g, s);
    })(window);
    {% endautoescape %}
</script>
<noscript><p><img src="{{ getApiImageUrl() }}" style="border: 0;" alt=""/></p></noscript>
<!-- End Piwik Code -->
{% endif %}