{% macro render(header_page_title) %}
    {% import "@App/Components/Blocks/Header/navbar.html.twig" as  navbar %}

    {{ navbar.render() }}

    <div class="d-flex flex-column" style="width: 100%;">
        <div class="d-flex align-items-center justify-content-between header-container">
            <a class="header-menu_icon" href="#" onclick="openSidebarMenu()">

            </a>
            <a href="{{ path('index') }}">
                <div class="header-logo">

                </div>
            </a>
            <a class="header-user_icon" href="{{ path('account') }}">

            </a>
        </div>

        {% if header_page_title %}
            <div class="d-flex align-items-center justify-content-center header-title_container">
                <div class="text-center header-title_content terms_and_conditions__header-title_content">
                    {{ header_page_title | raw }}
                </div>
            </div>
        {% endif %}

        {% if hasActiveSubscription() %}
            <div class="d-flex align-items-center justify-content-center header-page-subscription_container">
                <div class="text-center header-page-subscription_text">
                    You are subscribed to 100% sport
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro render %}