<strong>Current thumbnail (square icon):</strong><br />
<a href="{{ url }}" target="_blank" title="View in actual size">
    <img style="border:dashed 1px black; height:100px;" src="{{ url }}" />
</a>