{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% for carrier in value %}
        <a href="/admin/app/domain/carrier/{{ carrier.uuid }}/show">{{ carrier.name }} {% if (value|last) != carrier.name  %}, {% endif %} </a>
    {% endfor %}
{% endblock %}