#tier-values{
    width:100%;
    background:#fff;
}

#tier-values input {
    width:50px;
}

#tier-values th{
    text-align:center;
}

#tier-values td, #tier-values th {
    padding: 5px;
    border:1px solid rgb(169, 169, 169);
}

#tier-values tbody tr:nth-child(odd){
    background: #e2ebf5;
}

#save-holder{
    margin-top:10px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}