{% macro render() %}
    <ul>
        <li>{{ translate('annotation_block.text.1') }}</li>
        <li>{{ translate('annotation_block.text.2') }}</li>
        <li>{{ translate('annotation_block.text.3') }}</li>
        <li>{{ translate('annotation_block.text.4') }}</li>
    </ul>
{% endmacro render %}