<!DOCTYPE html>
<html>
    <head>
        {% block metatags %}
            <title>{% block metatags_title %}100% Sport Videos!{% endblock metatags_title %}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% endblock metatags %}

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
                  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
                  crossorigin="anonymous"/>
            <link href="https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
                  rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('/css/vod.css') }}">
            <link href="https://unpkg.com/cloudinary-video-player/dist/cld-video-player.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
                  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
                  crossorigin="anonymous">
        {% endblock stylesheets %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>

        {% block javascripts %}

            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.js"></script>
            <script type="text/javascript"
                    src="https://unpkg.com/cloudinary-video-player/dist/cld-video-player.js"></script>
            <script type="text/javascript"
                    src="https://unpkg.com/videojs-contrib-quality-levels@2.0.3/dist/videojs-contrib-quality-levels.min.js"></script>
            <script type="text/javascript"
                    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>

        {% endblock %}
    </head>

    <body class="d-flex flex-column min-vh-100">
        {% block header %}
            <header class="d-flex align-items-center justify-content-center">
                {% block header_content %}

                {% endblock header_content %}
            </header>
        {% endblock header %}

        <main class="d-flex media-body">
            {% block body %}

            {% endblock body %}
        </main>

        {% block footer %}
            <footer class="d-flex flex-column align-items-center justify-content-center">
                {% block footer_content %}
                {% endblock footer_content %}
                <br>
                <div class="d-flex justify-content-around">
                    <div class="header-logo"></div>
                </div>

                <div class="d-flex copyright">
                    © {{ "now"|date("Y") }} {{ translate('copyright') }}
                </div>
            </footer>
        {% endblock footer %}

    </body>
</html>